<p-card header="New text proposal">
  <div class="flex flex-column gap-2">
    <label htmlFor="propTitle">Title</label>
    <input id="propTitle" class="col-12" type="text" pInputText [(ngModel)]="propTitle">
  </div>

  <div class="flex flex-column gap-2 mt-4">
    <label htmlFor="propText">Text</label>
    <textarea id="propText" class="col-12" rows="10" cols="50" pInputText [(ngModel)]="propText"></textarea>
  </div>

  <div class="flex flex-column gap-2 mt-4">
    <label htmlFor="propName">Upgrade Plan Name</label>
    <input id="propName" class="col-12" pInputText [(ngModel)]="propName">
  </div>

  <div class="flex flex-column gap-2 mt-4">
    <label htmlFor="propHeight">Upgrade Height</label>
    <input id="propHeight" class="col-12" pInputText [(ngModel)]="propHeight">
  </div>

  <div class="flex flex-column gap-2 mt-4">
    <label htmlFor="propInfo">Upgrade Info</label>
    <input id="propInfo" class="col-12" pInputText [(ngModel)]="propInfo">
  </div>

  <div class="flex flex-column gap-2 mt-4">
    <label htmlFor="propDeposit">Initial Deposit</label>
    <input id="propDeposit" class="col-12" type="text" pInputText [(ngModel)]="propDeposit">
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Send" icon="pi pi-check" (onClick)="send()"></p-button>
  </ng-template>
</p-card>
