<div class="flex">
  <p-menubar [model]="items" class="flex-grow-1 mb-2" style="height: 5rem">
    <ng-template pTemplate="start">
      <img src="assets/logos/unification.svg" style="height: 2rem">
    </ng-template>

    <ng-template pTemplate="end">
      Selected Network:
      <p-dropdown
        [options]="availableNetworks"
        optionLabel="chainName"
        (onChange)="onChangeNetwork($event)"
      >
      </p-dropdown>
    </ng-template>

  </p-menubar>
</div>

<p-table [value]="proposals" [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <th>ID</th>
      <th>Submit Date</th>
      <th>Type</th>
      <th>Title</th>
      <th>Status</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-prop>
    <tr>
      <td><a (click)="onClickProposal(prop)" href="#">{{prop.proposal_id}}</a></td>
      <td>{{prop.submit_time | date: 'yyyy-MM-dd HH:mm Z'}}</td>
      <td>{{Translator.proposalType[prop.content['@type']]}}</td>
      <td>{{prop.content.title}}</td>
      <td>
        <p-tag
          *ngIf="prop.status === 'PROPOSAL_STATUS_PASSED'"
          severity="success"
          [value]="Translator.proposalStatus[prop.status]"
          [rounded]="true"></p-tag>

        <p-tag
          *ngIf="prop.status === 'PROPOSAL_STATUS_VOTING_PERIOD'"
          severity="info"
          [value]="Translator.proposalStatus[prop.status]"
          [rounded]="true"></p-tag>

        <p-tag
          *ngIf="prop.status === 'PROPOSAL_STATUS_REJECTED'"
          severity="danger"
          [value]="Translator.proposalStatus[prop.status]"
          [rounded]="true"></p-tag>

        <p-tag
          *ngIf="prop.status === 'PROPOSAL_STATUS_DEPOSIT_PERIOD'"
          severity="warning"
          [value]="Translator.proposalStatus[prop.status]"
          [rounded]="true"></p-tag>

      </td>
      <td>
        <button *ngIf="prop.status === 'PROPOSAL_STATUS_DEPOSIT_PERIOD'" type="button" pButton label="Deposit FUND" (click)="onClickDeposit(prop)"></button>
<!--        <button type="button" pButton label="Vote" (click)="onClickVote(prop)"></button>-->
        <button *ngIf="prop.status === 'PROPOSAL_STATUS_VOTING_PERIOD'" type="button" pButton label="Vote" (click)="onClickVote(prop)"></button>

      </td>
    </tr>
  </ng-template>
</p-table>

<p-dialog
  [style]="{width: '50vw'}"
  header="Submit new Proposal"
  [(visible)]="submitProposalDialogVisible"
  [modal]="true">
  <app-new-proposal (onSuccess)="onSuccessSubmitProposal($event)"></app-new-proposal>
</p-dialog>

<p-dialog
  [style]="{width: '50vw'}"
  [modal]="true"
  header="Deposit to Proposal" [(visible)]="depositDialogVisible">
  <app-deposit [proposal]="selectedProposal" (result)="onResult($event)"></app-deposit>
</p-dialog>

<p-dialog
  [style]="{width: '50vw'}"
  [modal]="true"
  header="Vote on a Proposal" [(visible)]="voteDialogVisible">

  <div class="grid">
    <p-card class="col-6">
      Vote YES if you agree with the proposal.
    </p-card>
    <p-card class="col-6">
      Vote NO if you disagree with the proposal.
    </p-card>
    <p-card class="col-6">
      Vote NO WITH VETO if you believe the proposal is not in the best interests of the Unification community, and it comes with a penalty for the proposer.
    </p-card>
    <p-card class="col-6">
      Vote ABSTAIN if you want to participate in the voting to reach the quorum, but you do not support or oppose the proposal.
    </p-card>
  </div>

  <ng-template pTemplate="footer">
    <button type="button" pButton label="YES" (click)="vote(VoteOption.VOTE_OPTION_YES)"></button>
    <button type="button" pButton label="NO" (click)="vote(VoteOption.VOTE_OPTION_NO)"></button>
    <button type="button" pButton label="ABSTAIN" (click)="vote(VoteOption.VOTE_OPTION_ABSTAIN)"></button>
    <button type="button" pButton label="NO WITH VETO" (click)="vote(VoteOption.VOTE_OPTION_NO_WITH_VETO)"></button>
  </ng-template>
</p-dialog>

<p-dialog
  header="Proposal Details"
  [modal]="true"
  [(visible)]="proposalDetailsDialogVisible"
  [style]="{width: '50vw'}">

  <app-proposal-details [proposal]="selectedProposal"></app-proposal-details>
</p-dialog>

<p-dialog
  header="The Governance Procedure"
  [modal]="true"
  [(visible)]="infoDialogVisible"
  [style]="{width: '50vw'}">
  <app-general-informations></app-general-informations>
</p-dialog>
