<p-card header="New text proposal">
  <div class="flex flex-column gap-2">
    <label htmlFor="propTitle">Title</label>
    <input id="propTitle" class="col-12" type="text" pInputText [(ngModel)]="propTitle">
  </div>

  <div class="flex flex-column gap-2 mt-4">
    <label htmlFor="propText">Text</label>
    <textarea id="propText" class="col-12" rows="10" cols="50" pInputText [(ngModel)]="propText"></textarea>
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="propSubspace">Subspace</label>
    <input id="propSubspace" class="col-12" type="text" pInputText [(ngModel)]="propSubspace">
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="propKey">Key</label>
    <input id="propKey" class="col-12" type="text" pInputText [(ngModel)]="propKey">
  </div>

  <div class="flex flex-column gap-2">
    <label htmlFor="propValue">Value</label>
    <input id="propValue" class="col-12" type="text" pInputText [(ngModel)]="propValue">
  </div>

  <div class="flex flex-column gap-2 mt-4">
    <label htmlFor="propDeposit">Initial Deposit</label>
    <input id="propDeposit" class="col-12" type="text" pInputText [(ngModel)]="propDeposit">
  </div>

  <ng-template pTemplate="footer">
    <p-button label="Send" icon="pi pi-check" (onClick)="send()"></p-button>
  </ng-template>
</p-card>
